.slick-prev, .slick-next{
    position: absolute;
    width: 30px;
    cursor: pointer;
    top: 45%;
}
.slick-prev {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-180deg);
    left: 15px;
    z-index: 1;
}
.slick-next {
    right: 15px;
}